
.icon-conatiner{
     display: flex;
     border: 1px solid rgb(200, 187, 187);
     border-radius:5%;
     width: 60px;
     flex-direction: row;
     justify-content:space-between;
     padding: 10px auto;
     box-sizing: border-box;
}

.icon-Active{
    cursor: pointer;
    margin:0px auto;
    color: black;
}
.icon-Not-Active{
    cursor: pointer;
    margin:0px auto;
    color:rgb(148, 138, 138);
}