.dashboard-container{
    display:flex;
    justify-content: space-around;
}
.dashboard{
    min-width:0;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 0 15px gray;
   
    border-radius:0% 0% 5% 5%;
    background-color:  rgb(242, 234, 234);
}
.cat-text-container{
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    flex:3
}
.text-container{
    width: 100%;
    padding: 10px 20px;
    flex:3
}
.text-expanse{
    color:rgb(186, 61, 16);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-income{
    color:green;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*turn over*/
.turnOver-conatiner{
    background-color: white;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*category*/
.category{
    min-width:0;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 0 15px gray;
    background-color:  rgb(242, 234, 234);
}
.catwise{
    flex:9;
    background-color: white;
    border-radius:0% 0% 5% 5%;
    padding: 0 5px;
    font-size: small;
}

